<div class="row">
    <div class="col-md-12">
        <form action="">
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="col-md-2 form-group">
                    <label for="name">Count</label>
                    <input type="number" id="count" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success mr-10" type="submit"><i class="fa fa-plus-square"></i> Add</button>
                    <button class="btn btn-danger" type="button"><i class="fa fa-trash"></i> Delete</button>
                    <button class="btn btn-primary" type="button"><i class="fa fa-refresh"></i> Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>